@using System.Linq
@using System.Security.Claims
@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@model MiniTwit.Entities.Message
@{
    ViewData["Title"] = SignInManager.IsSignedIn(User) ? "Timeline" : "Public Timeline";
}

<h2>@ViewData["Title"]</h2>
<div>
    @if (SignInManager.IsSignedIn(User))
    {
        var userid = UserManager.GetUserId(User);
        var viewedUserId = (string) ViewData["ViewedUserId"];
        if (viewedUserId != null) @* TODO: user timeline *@
        {
            <div class="followstatus">
                @if (userid == viewedUserId) @* TODO: current user is page user *@
                {
                    <span>This is you, @User.Identity.Name!</span>
                }
                else if (false) @* TODO: user is following *@ 
                {
                    <span>You are currently following this user.</span>
                    @* TODO: This link should point at the unfollow 
                             hook in a controller *@
                    <a class="unfollow" href="#">Unfollow user</a>
                }
                else
                {
                    <span>You are not yet following this user.</span>
                    @* TODO: This link should point at the follow 
                             hook in a controller *@
                    <a class="follow" href="#">Unfollow user</a>
                }
            </div>
        } 
        else if (false) @* TODO: timeline *@
        {
            <div class="twitbox">
                <h3>What's on your mind @* TODO: @ViewData["UserName"] *@?</h3>
                <form asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
                    <p /><input asp-for="Text" size="60" /><!--
                      --><input type="submit" value="share" />
                </form>
            </div>
        }
    }
    <ul class="messages">
        @{
            var messages = ((IEnumerable<Message>)ViewData["Messages"]).ToList();
        }
        @if (!messages.Any())
        {
            @foreach (Message msg in messages)
            {
                <li>
                    <img src="https://www.gravatar.com/avatar/00000000000000000000000000000000?d=mp&s=48" /> <!--TODO remember to softcode-->
                    <strong>
                        <a href="#">@msg.Author.UserName</a>
                    </strong>
                    @msg.Text
                    <small>
                        &mdash; @msg.PubDate
                    </small>
                </li>
            }
        }
        else
        {
            <li><em>There's no message so far.</em></li>
        }

    </ul>
</div>