@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] @("|") MiniTwit</title>
    <link rel="stylesheet" type="text/css" href="~/css/site.css"/>
</head>
<body>
<div class="page">
    <h1>MiniTwit</h1>
    <div class="navigation">
        @if (SignInManager.IsSignedIn(User))
        {
            //This method of putting the logout button in a form and wrapping all of the navigation in the form is a bit
            //hacky, but its the easiest way to get them inline.

            <form method="post" asp-area="" asp-controller="Account" asp-action="LogOut">
                <a asp-area="" asp-controller="Home" asp-action="My_Timeline">My Timeline</a>
                @("|")
                <a asp-area="" asp-controller="Home" asp-action="Index">public timeline</a>
                @("|")
                <input id="LogoutButton" type="submit" value="Logout"/>
            </form>
        }
        else
        {
            <a asp-area="" asp-controller="Home" asp-action="Index">public timeline</a>
            @("|")
            <a asp-area="" asp-controller="Account" asp-action="Register">sign up</a>
            @("|")
            <a asp-area="" asp-controller="Account" asp-action="LogIn">sign in</a>
        }
    </div>
    @*
            Should be replaced with a resource via "using"
            Translated from:
            {% with flashes = get_flashed_messages() %}
            {% endwith %}
        *@
    @if (ViewData["flashes"] != null)
    {
        <ul class="flashes">
            @foreach (var flash in (IEnumerable<string>) ViewData["flashes"])
            {
                <li>@flash</li>
            }
        </ul>
    }
    <div class="body">
        @RenderBody()
    </div>
    <div class="footer">
        MiniTwit &mdash; A C# Application
    </div>
</div>


@RenderSection("Scripts", false)
</body>
</html>