@model IEnumerable<Message>

<ul class="messages">
        @{
            var messages = Model;
        }
        @if (messages.Any())
        {
            @foreach (var msg in messages)
            {
                <li>
                    <img gravatar-email="@msg.Author.Email" gravatar-size="48"/>
                    <strong>
                        <a asp-area="" asp-controller="Home" asp-action="User_Timeline" asp-route-username="@msg.Author.UserName">@msg.Author.UserName</a>
                    </strong>
                        @msg.Text
                    <small>
                        &mdash; @msg.PubDate
                    </small>
                </li>
            }
        }
        else
        {
            <li>
                <em>There's no message so far.</em>
            </li>
        }

    </ul>